body {
    background-color: #1A1A40;
}

.App {
    padding: 50px 20% 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LocaleSelector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LocaleItem {
    padding: 0 10px;
    height: 70px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.LocaleItem.selected {
    background-color: #7A0BC0;
}

.LocaleSelector,
.LocalizedDatePicker,
.CryptoDropdown {
    width: 300px;
    margin-bottom: 30px;
}

.LocalizedDatePicker input {
    height: 70px;
    padding: 0px 14px;
}