.App {
    padding: 50px 20% 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LocaleSelector {
    margin-bottom: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LocaleItem {
    padding: 0 10px;
    height: 70px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LocaleItem.selected {
    background-color: #cccccc;
}


.LocalizedDatePicker {
    margin-bottom: 30px;
    width: 300px;
}

.CryptoDropdown {
    width: 300px;
}